<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css" >
    <link rel="stylesheet" href="static/css/history.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/dyn.js"></script>
    <title>LAMPS</title>
</head>
<body>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="/">Lamp Remote Control</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/history">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/logout">Logout</a>
        </li>
    </ul>

    <div class="logs-container">
    <table class="logs-table">
      <thead>
        <tr>
            <th>firstname lastname</th>
            <th>timestamp</th>
            <th>lamp_id</th>
            <th>lamp brightness</th>
        </tr>
      </thead>
      <tbody>
          {% for log in logs %} 
          <tr class="rows">
              <td>{{current_user.fname + " " + current_user.lname }}</td>
              <td>{{log.timestamp}}</td>
              <td>{{log.lamp_id}}</td>
              <td>{{log.level}}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
    </div>

    </body>
</html>