<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="dyn.js"></script>
    <title>LAMPS</title>
</head>
<body>
    <h1>LAMP BEDIENING</h1>

    <div class="flexcontainer">
        <div class="lampcontainer">
            <p>lamp a</p>
            <div class="slidecontainer">
                <input type="range" min="0" max="100" class="mijnsliders" id="mijn1eslider">
                <span class='waarde' id="mijn1esliderwaarde">0</span>
            </div>
        </div>

        <div class="lampcontainer">
            <p>lamp b</p>
            <div class="slidecontainer">
                <input type="range" min="0" max="100" class="mijnsliders" id="mijn2eslider">
                <span class='waarde' id="mijn2esliderwaarde">0</span>
            </div>
        </div>

        <div class="lampcontainer">
            <p>lamp c</p>
            <div class="slidecontainer">
                <input type="range" min="0" max="100" class="mijnsliders" id="mijn3eslider">
                <span class='waarde' id="mijn3esliderwaarde">0</span>
            </div>
        </div>

        <div class="lampcontainer">
            <p>lamp d</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </div>

        <div class="lampcontainer">
            <p>lamp e</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </div>

        <div class="lampcontainer">
            <p>lamp f</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </div>

        <div class="lampcontainer">
            <p>lamp g</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </div>

        <div class="lampcontainer">
            <p>lamp h</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </div>

        <div class="lampcontainer">
            <p>lamp i</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </div>

        <div class="lampcontainer">
            <p>lamp j</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </div>

        <div class="lampcontainer">
            <p>lamp k</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </div>

        <div class="lampcontainer">
            <p>lamp l</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </div>

        <div class="lampcontainer">
            <p>lamp m</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </div>

        <div class="lampcontainer">
            <p>lamp n</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </div>

        <div class="lampcontainer">
            <p>lamp o</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </div>

    </div>

    
    
</body>
</html>