<!DOCTYPE html>
<html>
    <head>
        <title>Gevorderde webapplicaties - WPO 1</title>
    </head>
    <body>
        <h1>Een eerste webpagina!</h1>
        <h3>HTML basics</h3>
        <p>HTML staat voor HyperText Markup Language. Het is geen programmeertaal maar een <u>opmaaktaal</u> zoals bijvooreeld LaTeX.</p> 
        <p><b>HTML elementen</b> zijn steeds geplaatst aan de hand van <i>HTML tags</i>, geplaatst binnen &#60; ... &#62; code. Het merendeel van de HTML elementen moet ook <u>opnieuw gesloten</u> worden via de bijhorende &#60;/ ... &#62; tag</p>
        <p>Enkele voorbeelden van courante HTML elementen:</p>
        <ul>
            <li>&#60;p&#62; een paragraaf &#60;/p&#62;</li>
            <li>&#60;h1&#62; headings/titels met grootte gaande van 1 (grootst) tot 6 &#60;/h1&#62;</li>            
            <li>&#60;a href="https://www.vub.be"&#62; een hyperlink naar https://www.vub.be met dit als tekst&#60;/a&#62;</li>
            <li>&#60;img src="mijnafbeelding.png" width="200px"&#62;</li>
            <li>&#60;br&#62; 1 lijn line break</li>
            <li>&#60;u&#62; onderlijnen &#60;/u&#62;</li>
            <li>&#60;b&#62; vetgedrukt &#60;/b&#62;</li>
            <li>&#60;i&#62; italic &#60;/i&#62;</li>
        </ul>
        <br>
        <p>HTML elementen bestaan dus steeds uit een HTML openingstag, eventuele HTML attributen (zoals href="https://www.vub.be" of width="200px"), eventuele inhoud (dit kan tekst zijn maar kan ook andere HTML elementen bevatten), en afhankelijk van de gebruikte HTML tag ook een sluitingstag</p>
        <p>HTML maakt ook gebruik van onder meer de &#60;html&#62;, &#60;head&#62;, &#60;title&#62; en &#60;body&#62; tags om de metadata van de webpagina te vormen.</p>
        <br>
        <br>
        <p>Bekijk zeker de broncode van deze webpagina...</p>
        <h4>Referenties</h4>
        <p><a href="https://www.w3schools.com/html">w3schools HTML tutorial</a></p>
        <br>
        <br>
        <img src="https://www.vub.be/themes/custom/ocelot_vub/assets/vectors/vub-logo-icon.svg" width="100px" alt="VUB">
    </body>    
</html>