<!DOCTYPE html>
<html>
    <head>
        <title>Gevorderde webapplicaties - WPO 1 - Stylesheets</title>
        <link rel="stylesheet" href="stylesheets1.css">
    </head>
    <body>
        <h1>Stylesheets toegepast</h1>
        <p>Bekijk de broncode van deze webpagine. Bovenaan de pagina in het <span class="htmltags">head</span> gedeelte vind je volgende verwijzing:</p>        
        <p id="stylesheetlink">&#60;link rel="stylesheet" href="stylesheets1.css"&#62;</p>
        <p>Door toewijzing van één of meerdere <span class="emph">class</span>en en/of één <span class="emph">id</span> attribuut aan HTML elementen kunnen verschillende CSS entries aangesproken worden.</p>
        <p>
            De CSS stijl wordt gespecifieerd op een volledig HTML type (vb h1), op een bepaalde class (vb <span class="emph">.</span>emph, <span class="emph">.</span>htmltags), of op een id (vb <span class="emph">#</span>stylesheetlink).<br>
            Het is ook mogelijk om een cascade van selectoren te maken waarop de specifieke stijl toepassing heeft (vb ul.blokjes, ul.blokjes li en ul.blokjes li .htmltags).<br>
            Toegepaste stijlen worden verder doorgegeven aan alle kind elementen waarop ze toepassing hebben. <br><br>
            Kijk naar de HTML en CSS broncode om te zien hoe dit in zijn werk gaat.
        </p>
        <br>
        <hr>
        <h4>Het voorbeeld van daarjuist met enkele CSS selectors</h4>
        <p>HTML staat voor HyperText Markup Language. Het is geen programmeertaal maar een <u>opmaaktaal</u> zoals bijvooreeld LaTeX.</p> 
        <p><b>HTML elementen</b> zijn steeds geplaatst aan de hand van <i>HTML tags</i>, geplaatst binnen <span class="htmltags">&#60;...&#62;</span> code. Het merendeel van de HTML elementen moet ook <u>opnieuw gesloten</u> worden via de bijhorende <span class="htmltags">&#60;/...&#62;</span> tag</p>
        <p>Enkele voorbeelden van courante HTML elementen:</p>            
        <ul class="blokjes htmltags">
            <li><span class="htmltags">&#60;p&#62;</span> een paragraaf <span class="htmltags">&#60;/p&#62;</span></li>
            <li><span class="htmltags">&#60;h1&#62;</span> headings/titels met grootte gaande van 1 (grootst) tot 6 <span class="htmltags">&#60;/h1&#62;</span></li>            
            <li><span class="htmltags">&#60;a href="https://www.vub.be"&#62; een hyperlink naar https://www.vub.be met dit als tekst<span class="htmltags">&#60;/a&#62;</span></li>
            <li><span class="htmltags">&#60;img src="mijnafbeelding.png" width="200px"&#62;</span></li>
            <li><span class="htmltags">&#60;br&#62;</span> 1 lijn line break</li>
            <li><span class="htmltags">&#60;u&#62;</span> onderlijnen <span class="htmltags">&#60;/u&#62;</span></li>
            <li><span class="htmltags">&#60;b&#62;</span> vetgedrukt <span class="htmltags">&#60;/b&#62;</span></li>
            <li><span class="htmltags">&#60;i&#62;</span> italic <span class="htmltags">&#60;/i&#62;</span></li>
            <li><span class="htmltags">&#60;button&#62;</span> klikopmij<span class="htmltags">&#60;/button&#62;</span></li>
        </ul>
        <br>
        <p>HTML elementen bestaan dus steeds uit een HTML openingstag, eventuele HTML attributen (zoals href="https://www.vub.be" of width="200px"), eventuele inhoud (dit kan tekst zijn maar kan ook andere HTML elementen bevatten), en afhankelijk van de gebruikte HTML tag ook een sluitingstag</p>
        <p>HTML maakt ook gebruik van onder meer de &#60;html&#62;, &#60;head&#62;, &#60;title&#62; en &#60;body&#62; tags om de metadata van de webpagina te vormen.</p>
        <br>
        <button>Voorbeeld van een knop</button>
        <br>
        <p>Bekijk zeker de broncode van deze webpagina...</p>
        <h4>Referenties</h4>
        <p><a href="https://www.w3schools.com/css">w3schools CSS tutorial</a></p>        
        <img src="https://www.vub.be/themes/custom/ocelot_vub/assets/vectors/vub-logo-icon.svg" width="100px" alt="VUB">
    </body>    
</html>